/* 
    Document   : style
    Created on : Apr 19, 2013, 7:22:23 PM
    Author     : aim
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    background-color: #E6E6E6;
}
#author {
    margin: 0;
    padding-left: 37%;
    text-align: justify;
}
#author p {
    padding-left: 10%;
}
body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);			  
}

#menu table {
     position: relative;
     width: 80%;
     background: #ddd;
     -moz-border-radius: 14px;
     border-radius: 14px;
     padding: 2em 1.5em;
     color: rgba(0,0,0, .8);
     text-shadow: 0 1px 0 #fff;
     line-height: 1.5;
     margin: 60px auto;
}

#menu table:before, #menu table:after {
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%; 
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7); 
    -webkit-box-shadow: 0 20px 15px rgba(0,0,0, 0.7);   
    -moz-box-shadow: 0 20px 15px rgba(0, 0, 0, 0.7);
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);    
    -moz-transform: rotate(-3deg);   
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

#menu table:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

#menu table tr {
    height: 400px;
}
#menu table td {
    text-align: center;
}
h1 {
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
}
a {
    text-decoration: none;
}
a:hover {
    text-shadow: -1px -1px white, 1px 1px #333;
}

#header h1 {
    text-align: center;
    font-size: 5em;
    color: #E6E6E6;
    text-shadow: #0F0F0F 0 6px 20px;
    margin-bottom: -40px;
    margin-top: 0;
}

#buku, #pembeli {
    margin-top: 5%;
}

.data {
    margin-top: -30%;
    margin-bottom: -40%;
}

#buku table, #pembeli table, #kwitansi table {
     position: relative;
     width: 80%;
     background: #ddd;
     -moz-border-radius: 14px;
     border-radius: 14px;
     padding: 2em 1.5em;
     color: rgba(0,0,0, .8);
     text-shadow: 0 1px 0 #fff;
     line-height: 1.5;
     margin: 60px auto;
}


#footer {
    text-align: center;
    font-size: 12px;
    margin-top: -4%;
}